<div class="box issues">
    <h3>Mé úkoly</h3>
    <div id="my-issues-content"></div>
</div>

<div class="box issues">
    <h3>Úkoly s vypršeným Uzavřít do</h3>
    <div id="due-date-issues-content"></div>
</div>