<div class="box issues" id="my-issues">
    <h3>{{_ "My issues"}} <span class="count"></span></h3>
    <a href="#" class="select-random" style="display: none;">{{_ "select random"}}</a>
    <div class="content"></div>
    <a href="/issues?assigned_to_id=me&amp;set_filter=1&amp;sort=priority%3Adesc%2Cupdated_on%3Adesc">{{_ "show all"}}</a>
</div>