<div class="box issues" id="my-issues">
    <h3>{{_ "My issues"}} <span class="count"></span></h3>
    <a href="#" class="select-random">select random</a>
    <div class="content"></div>
</div>

<div class="box issues"  id="due-date-issues">
    <h3>{{_ "Overdue issues"}}</h3>
    <div class="content"></div>
</div>