@import url(../../../stylesheets/application.css);
@import 'icons';

html, body, #wrapper { background-color: #112631; }
#wrapper2 { min-height: 100% }
#header, #top-menu { margin: 0px; }
#header {
    background-color: #112631;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-image: url("./img/border.png");
    background-image: url("./img/border.svg"), none;
    padding: 20px 20px 0;
    height: 35px;
}
#top-menu {  background: #182f3c; padding: 7px 20px 3px;
	#loggedas, a { font-weight: normal; color: #5fbaed}
	a:hover { color: white; }
}
#main {
    background: white;
    padding: 10px 0;
    margin: 25px 20px;
    border-radius: 0 2px 2px 2px;
    overflow: hidden;
}

body:not([class*="project-"]) #main {
    border-radius: 2px;
    margin-top: 0;
}

#content, #main.nosidebar #content { background: #fff; border: 0; padding-left: 15px; width: auto; padding-right: 300px; }
#main.nosidebar #content { padding-right: 15px; }
#sidebar { width: 255px; background: #eee; border: 0; margin-top: -10px; padding: 15px; border-radius: 0 2px 0 2px;}
#footer { background-color: #112631; border: 0px; padding: 80px 0; }

/* Headers */
h2, h3, h4, .wiki h1, .wiki h2, .wiki h3 { border-bottom: 0px; }

#header h1 {
    background-image: url("./img/pr.png");
    background-image: url("./img/pr.svg"), none;
    background-size: 228px 22px;
    background-repeat: no-repeat;
    background-position: 0 21px;
	padding: 22px 0 0 245px;
	font-weight: normal;
	min-height: 30px;
	font-size: 18px;
	margin: -20px auto 0;
	color: #5fbaed;

	/* Fix bad H1 position in old Chrome */
	overflow: inherit;
	white-space: normal;

    .go-to-my-issues, .go-to-projects {
        position: absolute;
        top: 21px;
        display: block;
        height: 22px;
    }

    .go-to-my-issues {
        left: 20px;
        width: 105px;
    }

    .go-to-projects {
        left: 125px;
        width: 125px;
    }

	.breadcrumbs {
		display: inline;
		font-size: 18px;
	}
}

body.controller-welcome.action-index #header h1 {
    text-indent: -9999px;
}

textarea, textarea.wiki-edit {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
	padding: 10px !important;

	color: #333;
}

/* Menu */
#main-menu {
	left: 20px;
	bottom: -25px;

  li a {
    color: rgba(255, 255, 255, .7);
    background-color: #182f3c + #111;
    border-radius: 2px 2px 0 0;
    font-weight: bold;
    padding: 6px 10px;
  }

  li a:hover { background: #5fbaed - #222; text-decoration: underline; }
  li a.selected, #main-menu li a.selected:hover { background-color: white; }
}

#history h3	.showStatusChanges {
	display: block;
	float: right;
	font-size: 12px;
	font-weight: normal;
	font-family: verdana, sans-serif;
}

#history .journal {
	margin: 30px 0;

	ul.details {
		background: #f8f8f8;
		padding: 7px;
		padding-left: 28px;

		i {
			font-weight: bold;
			font-style: normal;
			color: #888;
		}
		i:last-child {
			color: black;
		}
		strong {
			font-weight: normal;
			font-style: italic;
		}
	}

    h4 img.gravatar {
        margin: -2px 4px -2px 0;
    }

	&.peekable {
		margin: 0;

		h4 {
			text-indent: -9999px;

			img {
				margin-top: -0px;
				float: left;
			}
		}

		ul {
			margin: -26px 0 0 30px;
			padding: 8px 7px 7px;

			li {
				display: inline;
				list-style-type: none;

				&:after {
					content: ', ';
				}

				&:last-child:after {
					content: '.';
				}
			}
		}

		&:hover {
			ul {
				cursor: pointer;
				background-color: #ddd;
			}
		}
	}
}

.timeyLoggerWrapper {
	position: fixed;
	bottom: 0; left: 0;
	width: 100%;
	z-index: 12;
	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);

	padding: 10px;
	background: white;
}

/* Issue */
body.controller-issues.action-show #content > .issue {

    /* Issue yellow box */
    background-color: #faf8f0;
    border-left: 5px solid #faebcc;
    margin-bottom: 20px;

	.splitcontent {
		// Because issue status icon
		padding-top: 3px;
	}

    img.gravatar {
        border-radius:4px;
        margin-right:8px;
        box-shadow: inset 2px 2px 5px #eee;
    }

    > img.gravatar {
        width: 50px;
        height: 50px;
    }

    div.subject h3 {
        font-weight: 500;
        line-height: 1.1;
        font-size: 22px;
        margin-top: 3px;
    }

    &.child div.subject h3 {
        margin-top: 0;
    }

    p.author {
        margin-top: 10px;
    }

    &.child p.author {
        margin-top: 0;
    }

    div.subject > div > p {
        margin-top: 0.1em;
    }

    table.progress {
        width: 120px !important;

        tr:hover {
            background: inherit;
        }
    }

    p.percent {
        padding-top: 3px
    }

    /* Issue priority icons */
    &.priority-3 .priority .value:before,
    &.priority-4 .priority .value:before,
    &.priority-5 .priority .value:before {
        font-size: 19px;
        padding-right: 10px;
        line-height: 12px;
        padding-left:5px
    }

    // Low
    &.priority-3 .priority .value:before {
        content: "●";
        color: rgb(150,150,150);
    }

    // Normal
    &.priority-4 .priority .value:before {
        content: "●";
        color: rgb(47,120,190);
    }

    // High
    &.priority-5 .priority .value:before {
        content: "!";
        color:rgb(166,40,27);
        font-family: Helvetica;
        font-weight: bold;
        padding-left:7px;
        padding-right: 13px;
    }
    &.priority-5 .priority .value {
        color: rgb(166,40,27);
        font-weight: bold;
        line-height: 1
    }

    /* Issue status icons */
    &.status-1 .attributes .status .value:before,
    &.status-2 .attributes .status .value:before,
    &.status-3 .attributes .status .value:before,
    &.status-4 .attributes .status .value:before,
    &.status-5 .attributes .status .value:before,
    &.status-7 .attributes .status .value:before,
    &.status-8 .attributes .status .value:before,
    &.status-10 .attributes .status .value:before,
    &.status-16 .attributes .status .value:before,
    &.status-17 .attributes .status .value:before {
        font-family: 'Glyphicons Halflings';
        padding: 3px 4px;
        margin-right: 6px;
        border-radius: 3px;
        font-size: 11px;
        background-color: gray; // default
        color: white;
    }

    // --- Red group
    &.status-1 .attributes .status .value:before {
        background-color: red;
    }

    // New
    &.status-1 .attributes .status .value:before {
        content: "\e028";
    }

    // --- Blue group
    &.status-3 .attributes .status .value:before,
    &.status-8 .attributes .status .value:before,
    &.status-10 .attributes .status .value:before {
        background-color: blue;
    }

    // Solved
    &.status-3 .attributes .status .value:before {
        content: "\e013";
    }

    // Feedback
    &.status-8 .attributes .status .value:before {
        content: "\e111";
    }

    // Needs explanation
    &.status-10 .attributes .status .value:before {
        content: "\e085";
    }

    // --- Green group
    &.status-2 .attributes .status .value:before,
    &.status-2 .attributes .status .value:before {
        background-color: green;
    }

    // Assigned
    &.status-2 .attributes .status .value:before {
        content: "\e092";
    }

    // --- Gray group
    // Waiting
    &.status-4 .attributes .status .value:before {
        content: "\e031";
    }

    // Postponed
    &.status-7 .attributes .status .value:before {
        content: "\e074";
    }

    // Needs review
    &.status-16 .attributes .status .value:before {
        content: "\e105";
    }

    // Closed
    &.status-5 .attributes .status .value:before,
    &.status-17 .attributes .status .value:before {
        content: "\e021";
    }

	&.overdue .due-date .value {
		color: red;
		font-weight: bold;
	}
}

/* Progressbar */
table.progress {
    height: 18px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    margin-right: 8px;

    // Remove inherited border
    td {
        border: none!important;
    }

    td.closed {
        height: 100%;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        background-color: #5cb85c;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
        box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
        border-radius: 4px 0 0 4px; // For Firefox
    }

    td.todo {
        background: transparent;
    }
}

/* Issue updating form */
#main, .issueAttributes, .timeLogging {
	position: relative;
}

.tabular #all_attributes {
	p {
		padding-left: 105px;
	}

	label {
		margin-left: -105px;
		width: 100px;
	}
}
form .attributes select {
	width: 90%;
}

form {
	fieldset {
		border: 0;
		background: #f8f8f8;
		padding: 10px;
		margin-top: 5px;

		legend {
			background: #eee;
			margin-left: -10px;
			padding: 2px 10px;
		}
	}
	.splitcontentleft, .splitcontentright {
		margin-bottom: 10px !important;
	}
}

/* optionally hidden elements */
#update {
	position: relative;

	legend {
		display: none;
	}

	.box {
		padding: 10px 0;
		background-color: #f8f8f8;
	}

	fieldset {
		margin: 0;
		padding: 0 10px;
	}

	fieldset:nth-child(4)>p {
		margin: 0;
	}

	label[for="issue_private_notes"] {
		float: right;
	}
}

#update span.minimize, .timeyLoggerWrapper span.close {
	display: block;
	width: 14px;
	height: 14px;
	padding:5px;
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 2px;
	position: absolute;
	top: 15px; right: 0;
	z-index: 10;

	.glyphicon-minus { display: inline-block }
	.glyphicon-plus { display: none; }
}

.timeyLoggerWrapper span.close {
	top: 10px;
	right: 30px;
}

#update.minimized {
	margin-top: 15px;

    .delimiter {
        display: none;
    }

	span.minimize {
		.glyphicon-minus { display: none; }
		.glyphicon-plus { display: inline-block; }
	}

	fieldset {
		margin: 0;
		padding: 0 10px;
	}
	.box {
		padding: 0;
		background-color: #f8f8f8;
	}
	legend { display: none; }

	h3 {
		margin: 10px;
		padding-top: 10px;
		width: 50%;
	}
	.issue_private_notes { display: none; }

	.issueAttributes {

		.splitcontentleft, .splitcontentright {
			display: inline;
			float: none;
			width: auto;
			margin: 0;

			p {
				padding: 0;
				display: inline-block;
				margin: 5px 0;
			}

			label {
				display: none;
			}
		}
	}
    .box {
    	fieldset:nth-child(1) {
    		#all_attributes {
    			& > p { display: none; } // everything
    			#attributes {
    				.splitcontent:nth-child(1) {
    					.splitcontentleft {
    						p:nth-child(4), // category
    						p:nth-child(5) // target version
    						{
    							display: none;
    						}

                            #issue_priority_id {
                                width: 13em;
                            }

                            #issue_assigned_to_id {
                                width: 14em;
                            }
    					}
	    				.splitcontentright {
	    					p { display: none; }
	    					p#due_date_area { display: inline-block; }
	    				}
	    			}
	    			.splitcontent:nth-child(2) {
	    				display: none; //billedToClient, etc.
	    			}
    			}
    		}
    	}
    }
}

#update.minimized
{
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 11;
		width: 100%;
		-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
		box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);

		span.minimize {
			top: 5px;
			right: 10px;
		}

		.box {
			margin: 0;
		}

		h3, form>input, form>a, label[for="issue_private_notes"] {
			display: none;
		}

		form>input[name="commit"] {
			display: block;
			position: absolute;
			right: 20px;
			bottom: 10px;
		}

		.box {
            // Hide upload input, but show uploaded files
			fieldset .add_attachment {
				display: none;
			}

			.jstEditor textarea {
				height: 150px;
			}
		}
}

@media screen and (max-width: 480px) {
	#update.minimized {

		.box {
			fieldset:nth-child(1) {
				.splitcontent:nth-child(1) {
					.splitcontentleft {
						p:nth-child(1), // status
						p:nth-child(2) // priority
						{
							display: none;
						}
					}
				}
			}

			.jstElements {
				display: block;
				position: absolute;
				top: 50px; right: 15px;

				button, span {
					display: none;
				}

				.jstb_bq, .jstb_unbq {
					display: inline-block;
				}
			}

			.jstEditor textarea {
				height: 100px;
			}
		}
	}
}

.toggleSidebar {
	position: absolute;
	top: 0;
    right: 0;
	z-index: 10;
	font-weight: bold;
	color: white;
	filter: alpha(opacity=20);
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: transparent;
}
.toggleSidebar .border {
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent #5fbaed transparent transparent;
}
.toggleSidebar .text {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2px;
}
.toggleSidebar:hover .border {
	border-color: transparent red transparent transparent;
}



/* Tables */
table.list tbody td, table.list tbody tr:hover td { border: solid 1px #eee; }
table.list thead th {
    border-width: 1px;
    border-style: solid;
    border-top-color: #d7d7d7;
    border-right-color: #d7d7d7;
    border-left-color: #d7d7d7;
    border-bottom-color: #999999;
}

/* Issues grid styles by priorities (provided by Wynn Netherland) */
table.issues {
	tr.issue a { color: #555; }
	tr.issue td { padding: 3px 5px; }

	tr.odd.priority-5, table.list tbody tr.odd.priority-5:hover { color: #900; }
	tr.odd.priority-5 { background: #ffc4c4; }
	tr.even.priority-5, table.list tbody tr.even.priority-5:hover { color: #900; }
	tr.even.priority-5 { background: #ffd4d4; }
	tr.priority-5 a, tr.priority-5:hover a { color: #900; }
	tr.odd.priority-5 td, tr.even.priority-5 td { border-color: #ffb4b4; }

	tr.odd.priority-3, table.list tbody tr.odd.priority-3:hover { color: #aaa; }
	tr.odd.priority-3 { background: #efefef; }
	tr.even.priority-3, table.list tbody tr.even.priority-3:hover { color: #aaa; }
	tr.even.priority-3 { background: #fff; }
	tr.priority-3 a { color: #aaa; }
	tr.odd.priority-3 td, tr.even.priority-3 td { border-color: #eee; }

	td.priority {  width: 30px; overflow: hidden; text-indent: -999px; }
	td.priority { background: 50% 50% url('./img/normal.png') no-repeat; }
	tr.priority-5 td.priority { background-image: url('./img/high.png'); }
	tr.priority-3 td.priority { background-image: url('./img/low.png'); }

	td.estimated_hours, td.spent_hours, td.updated_on, td.due_date { text-align: right; }
	td.assigned_to { text-align: left; }

    td.id { font-weight: bold }

	td.project {
        text-align: left;
        max-width: 100px;
        overflow: hidden;
    }

	th[title='Sort by "Status"'], td.status { width: 30px; overflow: hidden; }

	td.status .glyphicon {
        padding: 3px 4px;
        border-radius: 3px;
        font-size: 11px;
        background-color: gray; // default
        color: white;
        opacity: .7;
    }

	b.overdue {
		color: red;
	}

	tr.context-menu-selection b.overdue {
		color: #f8f8f8;
	}
}

/* Buttons */
input[type="button"], input[type="submit"], input[type="reset"] {
    background-color: #f2f2f2;
    color: #222222;
    border: 1px outset #cccccc;
    font-size: 13px;
}
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover { background-color: #ccccbb; }

/* Fields */
input[type="text"], input[type="password"], textarea, select { border: 1px solid #d7d7d7; font-size: 13px }
input[type="text"], input[type="password"] { padding: 3px; padding: 2px; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus { border: 1px solid #888866; }
input[type="file"]::-webkit-file-upload-button, button { font-size: 13px; }
option { border-bottom: 1px dotted #d7d7d7; }

/* Login */
@import 'login';


/* Misc */
.box { background-color: #fcfcfc; margin-bottom: 10px; }
#quick-search #q, #project_quick_jump_box {
	font-size: 12px !important;
	background: #112631;
	border: 1px solid #112631 + #444;
	color: #ddd;
}
#quick-search, #quick-search a {
	color: #5fbaed;
}
#project_quick_jump_box:focus { background: #eee; color: #112631 + #222; }

.box, .splitcontentright, .splitcontentleft {
	border: 0;
	background: transparent;
	padding: 0;
}

div.issue { border: 0; padding: 15px; }

.pagination {
    font-size: 13px;
    text-align: center;
}
.contextual {
    font-size: 13px;
    a { margin-right: 5px; }
}

.wiki-page {
	h1 { font-size: 36px; }
	h2 { font-size: 28px; margin: 27px 0 0; border-bottom: 1px solid #ddd }
	h3 { font-size: 24px; margin: 18px 0 0; font-weight: normal; }

	p, li, td, th {
		font-size: 13px;
		line-height: 1.4em;
	}

	p, li {
		margin-bottom: .5em;
		margin-top: .5em;
		max-width: 50em;
	}

	td, th {
		padding: .3em;
	}


}
.attachments {
	margin-top: 6em;
	padding-top: 1em;
	border-top: 1px solid #ddd;
}

/* Flash messages */
div.flash {
    padding: 10px 10px 10px 30px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: inherit;

    &.notice {
        border: 1px solid #d6e9c6;
        color: #3c763d;
        background-color: #dff0d8;
        background-image: none;
        font-size: inherit;

        &::before {
            content: "✔";
            font-size: 150%;
            font-weight: bold;
            position: absolute;
            margin-top: -5px;
            margin-left: -20px;
        }
    }

    &.error {
        border: 1px solid #ebccd1;
        color: #a94442;
        background-color: #f2dede;
        background-image: none;

        &::before {
            font-family: 'Glyphicons Halflings';
            content:"\e101";
            font-size: 120%;
            position: absolute;
            margin-top: -1px;
            margin-left: -20px;
        }
    }
}

/* Code */
@import 'code';

/* Zen mode */
a#exitZenMode {
	display: none;
}

body.zenMode {
	#top-menu, #header {
		display: none;
	}
	#main {
		margin: 2px;
		/*position: fixed;
		z-index: 9999;
		top: -22px; bottom: -22px;
		left: -17px; right: -17px;
		overflow: scroll; */
		border-radius: 2px;

		a#exitZenMode {
			display: inline;
		}
	}
}

body.controller-welcome.action-index #content > h2 {
    display: none;
}

@import 'mobile';
@import 'make_money';

#my-issues {
	h3 {
		float: left;
	}

	.select-random {
		float: right;
        line-height: 33px;
	}

	.count {
		color: white;
		background: rgb(238,37,42);
		vertical-align: super;
		font-size: 80%;
		border-radius: 30px;
		display: inline-block;
		text-align: center;
		padding: 0 6px;
	}

	.content {
		clear: both;
	}
}

body.controller-projects.action-index .my-project {
	padding-left: 0;
	background: none;
}

/*#content div.issue {

    td.spent-time:contains(-), td.category:contains(-), td.assigned-to:contains(-), td.fixed-version:contains(-)


    td.category {
        visibility: hidden;
    }

    td.category::before {
        content: "⁓";
        visibility: visible;
        color: silver;
        padding-left: 50px;
    }

}*/